{% extends 'base.html' %}
{% block content %}

<h1>Cashback Request</h1>

<form method="post" action="{% url 'main_page' %}">
    {% csrf_token %}

    <h3>Purchase Details</h3>

    <div class="form-group">
        <label for="purchase_amount">За сколько желаете купить:</label>
        <input type="number" class="form-control" id="purchase_amount" name="purchase_amount" placeholder="Введите сумму" required>
    </div>

    <div class="form-group">
        <label for="item_category">Выберите:</label>
        <select class="form-control" id="item_category" name="item_category" required>
            <option value="">Select Category</option>
            <option value="telephony">Телефоны и гаджеты</option>
            <option value="computers">Компьютеры</option>
            <option value="kids">Детские товары</option>
            <option value="beauty">Красота и здоровье</option>
            <option value="accessories">Аксессуары</option>
            <option value="jewelry">Украшения</option>
            <option value="home">Товары для дома и дачи</option>
            <option value="furniture">Мебель</option>
            <option value="building">Строительство и ремонт</option>
            <option value="chancery">Канцелярские товары</option>
            <option value="products">Продукты</option>
            <option value="health">Аптека</option>
            <option value="tech">ТВ, аудио, видео</option>
            <option value="tech">Бытовая техника</option>
            <option value="auto">Автотовары</option>
            <option value="sport">Спорт и туризм</option>
            <option value="shoes">Обувь</option>
            <option value="clothes">Одежда</option>
            <option value="entertainment">Досуг и книги</option>
            <option value="animals">Товары для животных</option>
            <option value="celebration">Подарки и товары для праздников</option>
        </select>
    </div>

    <div class="form-group">
        <label for="company_name">Название Компании:</label>
        <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Введите название компании" required>
    </div>

    <button type="submit" class="btn btn-primary">Найти кэшбеки!</button>
</form>

{% endblock %}